{% include 'aaa_mem_helper' with 'page' %}<!-- /templates/page.liquid -->
<div class="grid">  

    <header class="section-header text-center submit-header">
      <h1 class="hero__title">{{ section.settings.title }}</h1>
      <hr class="hr--small">
      {% if section.blocks.size != 0 %}
        <div class="grid">
          <div class="grid__item">
            <div class="rte">
              {%- comment -%}
                {{ page.content }}
              {%- endcomment -%} 
                 
                <div class="submint submit__contnet ">
                  <div class="hover_bkgr_fricc">
                  <span class="helper"></span>
                  <div>
                    <div class="popupCloseButton">&times;</div>
                      {% assign text_blocks = section.blocks | where: 'type', 'text' %}
                      {% for block in text_blocks %}                                    
                        <div class="row">
                          <div class="col-1 popupCloseButton-contnet">                           
                            <img class="disp" src={{ block.settings.content_image | img_url: '200x', format: 'jpg'}}>	 
                            <p class="popupCloseButton-richtext" >{{ block.settings.content_richtext }}</p>                           
                          </div>                       
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                
                {%- comment -%}                
                <div class="submit__review">
                  {% assign review_blocks = section.blocks | where: 'type', 'contact-form' %}                             
                  <div class="row">
                    <div class="submit__review--content">
                      {% for block in review_blocks %}
                        <div class="review_content">
                          <a href="{{ block.settings.review_action }}">                      
                            <img class="disp" src={{ block.settings.review_image | img_url: '150x' }}/>                        
                          </a>
                        </div>
                      {% endfor %}
                    </div>                      
                  </div>  
                </div> 
                {%- endcomment -%}
                {{ page.content }}
            </div>            
          </div>
        </div>  
      {% endif %}

    </header>

    <div></div>
    
  
</div>

{% schema %}
  {
    "name": "Submit page",
    "settings": [
      {        
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Submit Header Title"        
      } 
    ],
    "blocks" : [
      {
        "type": "text",
        "name": "Main Content",
        "settings": [
          {
            "type": "image_picker",
            "id": "content_image",
            "label": "Content logo"
          },
          {
            "type": "richtext",
            "id": "content_richtext",
            "label": "Text"
          }
        ]
      },
      {
        "type": "contact-form",
        "name": "Get Reviewed",
        "settings": [
          {        
            "type": "text",
            "id": "review_title",
            "label": "Heading",
            "default": "Review Title"        
          }, 
          {
            "type": "image_picker",
            "id": "review_image",
            "label": "Review Image"
          },
          {
            "type": "url",  
            "id": "review_action",           
            "label": "Review link"
          }       
        ]
      }
    ]
  }
{% endschema %}

<script>
    function myFunction() {        
        var x = document.getElementById("pet-select").value;
        if(x=="Empty") {
            document.querySelector('.review_content1').style.display="none";
            document.querySelector('.review_content2').style.display="none";
        }

        if(x=="VIP Skip the line"){
            document.querySelector('.review_content1').style.display="block";
            document.querySelector('.review_content2').style.display="none";
        } 
        
        if(x=="Free Review"){
            document.querySelector('.review_content1').style.display="none";
            document.querySelector('.review_content2').style.display="block";
        }
    }
</script>